body {
	margin: 0;
	font-family: sans-serif;

	ul.ProductList {
		list-style: none;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;

		li {
			margin: 1em;
			text-align: center;

			div.ProductImage {
				margin: 0 auto;
			}

			div.ProductActionAdd {
				a {
					@include btn();
				}
			}
		}
	}

}