#Footer {
	@include background(linear-gradient(#C14102 0, shade(#C14102, 20%) 100%));
	padding: 10px;

	p {
		text-align: center;
		color: white;
		-webkit-margin-after: 0.5em;
		-webkit-margin-before: 0.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}
